<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar navbar-expand-lg col-md-12 col-sm-12">
  <div class="icon-title  col-md-4 col-sm-4">
    <div class="icon">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="title">
      <a href="/products" style="color: white; text-decoration:none">
        123 Shopping Mall
      </a>
    </div>
  </div>

  <div class="link col-md-8 col-sm-8">
    <a href="/admin/products" style="color: white;">
      <button type="button" class="btn btn-secondary">
        Admin
      </button>
    </a>
    <a href="/carts" style="color: white;">
      <button type="button" class="btn btn-secondary">
        Cart
      </button>
    </a>
    <a href="/orders" style="color: white;">
      <button type="button" class="btn btn-secondary">
        Order
      </button>
    </a>
    {{#if user}}
    <a href="/logout" style="color: white;">
      <button type="button" class="btn btn-secondary">
        Logout
      </button>
    </a>
    {{else}}
    <a href="/signin" style="color: white;">
      <button type="button" class="btn btn-secondary">
        Login
      </button>
    </a>
    {{/if}}
    </button>
  </div>

</nav>