<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12">
  <div class="icon-title  col-md-4">
    <div class="icon">
      <i class="fas fa-shopping-cart" style="font-size: 50px;"></i>
    </div>
    <div class="title">
      123 Shopping
    </div>
  </div>
  

  <div class="link col-md-8">

    <button type="button" class="btn btn-secondary">Admin</button>
    <button type="button" class="btn btn-secondary">Cart</button>
    <button type="button" class="btn btn-secondary">Order</button>
    <button type="button" class="btn btn-secondary">Login</button>


  </div>

</nav>