<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/product.css">

<div class="wrap col-md-12">
  <div class="product col-md-8">
    <div class="picture">
      <img src="{{product.image}}" alt="">
    </div>
    <div class="detail">
      <div class="name">{{product.name}}</div>
      <div class="price">{{product.price}}</div>
      <div class="description">{{product.description}}</div>
      <div class="add-to-cart"></div>
    </div>
  </div>

  <div class="cart col-md-4">

  </div>

</div>