.order-body {
  width: 80vw;
  margin: 0 auto;
  background-color: #f4f0e6;
  padding: 0;
}

.order-title, .address-title {
  background-color: #313131;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 2vw;
  padding: 0.3vw;
}

.order-detail {
  display: flex;
  margin-top: 2vw;
  padding: 0;
}

.products-address {
  /* border: red 2px solid; */
  padding: 0;
}

.payment-shipping {
  /* border: red 2px solid; */
}

.product, .total {
  display: flex;
  font-weight: bold;
  margin: 0.4vw;
  font-size: 1vw;
}

.name-phone-address {
  margin: 0.4vw;
  font-size: 1vw;
  font-weight: bold;
}

.name, .address, .shipping-address, .phone {
  margin: 1vw;
}

.address {
  margin-right: 0;
  margin-left: 0;
}

.payment-shipping {
  text-align: center;
  margin: auto 0px;
}

.payment-status, .shipping-status, .update-btn {
  margin: 1vw;
  font-size: 1.2vw;
  font-weight: bold;
}
