.product {
  display:flex;
  margin: 5vw auto;
  position: relative;
}

.picture {
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  border-radius: 20px;
}

.text {
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.5vw;
  font-weight: bold;
  margin:0.5vw;
}

.price {
  font-size: 1vw;
  font-weight: bold;
  color: #FF2E63;
  margin:0.5vw;
}

.description {
  font-size: 1vw;
  margin:0.5vw;
  color: gray;
}

.add-to-cart {
  font-size: 1vw;
  margin:0.5vw;
  display: flex;
}

.add-to-cart .vol{
  border: 2px solid #313131;
  min-width: 2vw;
  text-align: center;
  margin: auto 0;
}

.fa {
  text-align: center;
  margin: auto 0.1vw;
}

